trigger: none
pool: my agent pool

steps: 
- task: CmdLine@2
  inputs:
    script: 'tflint --chdir=$(System.DefaultWorkingDirectory) --recursive -f junit > result.xml'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: 'result.xml'

