trigger: none
pool: my agent pool

steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
    backendServiceArm: 'azure-ado-sc'
    backendAzureRmStorageAccountName: 'pipelinestorage321'
    backendAzureRmContainerName: 'pipelinecontainer'
    backendAzureRmKey: '.tfstate'