trigger: none
# - feature/*
# - main

pool: my agent pool

stages: 
  - stage: 
    jobs:
      - job: 
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            backendServiceArm: 'azure-ado-sc'
            backendAzureRmStorageAccountName: 'pipelinestorage321'
            backendAzureRmContainerName: 'pipelinecontainer'
            backendAzureRmKey: 'terraform.tfstate'
