trigger: none

pool: my agent pool

steps:
- task: CmdLine@2
  continueOnError: true
  inputs:
    script: 'tflint --chdir=$(System.DefaultWorkingDirectory) --recursive --format junit > tflint-report.xml'

- task: PublishTestResults@2
 
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: 'tflint-report.xml'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'infracost breakdown --path $(System.DefaultWorkingDirectory)/environments/dev'
    workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'