trigger: 
- feature/*
- main

parameters: 
    - name: environments
      type: string
      default: dev
      values: 
       - dev
       - prod
pool: my agent pool

stages:
  - stage: terraforminit
    displayName: terraforminit
    jobs:
      - job: terraforminit
        steps:
        - task: TerraformInstaller@1
          displayName: terraforminstall
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          displayName: terraforminit
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/${{parameters.environments}}'
            backendServiceArm: 'azure-ado-sc'
            backendAzureRmResourceGroupName: 'pipeline_rg'
            backendAzureRmStorageAccountName: 'pipelinestg01'
            backendAzureRmContainerName: 'pipelinecontainer'
            backendAzureRmKey: '${{parameters.environments}}.tfstate'

        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Pipeline.Workspace)'
            artifact: 'init'
            publishLocation: 'pipeline'



  - stage: Tfsecscan
    displayName: scanningtool
    jobs: 
      - job: terraformscan
        steps: 
        - task: tfsec@1
          inputs:
            version: 'v1.26.0'

  - stage: manualvalidation
    displayName: manualvalidation
    jobs: 
      - job: manualvalidation
        pool: server
        steps: 
        - task: ManualValidation@1
          inputs:
            notifyUsers: 'shashisingh223344@gmail.com'
            instructions: 'approve please'

  - stage: Terraformplan
    displayName: Terraformplan
    jobs: 
      - job: Terraformplan
        steps: 
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'init'
            itemPattern: |
              cd $(pipeline.workspace)
              chmod -R +x .environments/dev
            targetPath: '$(Pipeline.Workspace)'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(Pipeline.Workspace)'
            environmentServiceNameAzureRM: 'azure-ado-sc'