trigger: none
pool: my agent pool

steps: 
- task: PowerShell@2
  continueOnError: true
  inputs:
    targetType: 'inline'
    script: 'tflint --chdir=$(System.DefaultWorkingDirectory) --recursive -f junit > result.xml'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: 'result.xml'

