trigger: 
-  feature/*
-  main

pool: my agent pool

stages:
  # - stage: initplan
  #   displayName: initplan
  #   jobs:
  #     - job: terraforminitplan
  #       steps:
  #       - task: TerraformInstaller@1
  #         displayName: terraforminstall
  #         inputs:
  #           terraformVersion: 'latest'

  #       - task: TerraformTask@5
  #         displayName: terraforminit
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'init'
  #           workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
  #           backendServiceArm: 'azure-ado-sc'
  #           backendAzureRmResourceGroupName: 'pipeline_rg'
  #           backendAzureRmStorageAccountName: 'pipelinestg01'
  #           backendAzureRmContainerName: 'pipelinecontainer'
  #           backendAzureRmKey: 'tfstate'
  #       - task: TerraformTask@5
  #         displayName: terraformplan
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'plan'
  #           workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
  #           environmentServiceNameAzureRM: 'azure-ado-sc'


  - stage: terraformscan
    displayName: scanningtool
    jobs: 
      - job: terraformscan
        steps: 
        - script: |
            tfsec --format junit --out tfsec-results.junit .
          displayName: 'Run tfsec scan'

        - task: PublishTestResults@2
          inputs:
            testResultsFiles: 'tfsec-results.junit'
            testRunTitle: 'tfsec scan'
          condition: always()


  - stage: terraformapply
    displayName: terraformapply
    jobs: 
      - job: terraformapply
        steps: 
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            backendServiceArm: 'azure-ado-sc'
            backendAzureRmResourceGroupName: 'pipeline_rg'
            backendAzureRmStorageAccountName: 'pipelinestg01'
            backendAzureRmContainerName: 'pipelinecontainer'
            backendAzureRmKey: 'tfstate'
        
  # - stage: manualvalidation
  #   jobs: 
  #     - job: manualvalidation
  #       pool: server
  #       steps:
  #       - task: ManualValidation@1
  #         displayName: manulvalidation
  #         inputs:
  #           notifyUsers: 'shashisingh223344@gmail.com'