trigger: none
pool: my agent pool

steps: 
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'tflint --chdir=$(System.DefaultWorkingDirectory) --recursive -f junit > result.xml'